@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #1b98ff;
  box-shadow: 2px 2px 2px #8fcdff;
  padding: 10px 0;
  font-family: "Poppins", serif;
}

.search-bar-div {
    position: relative;
    width: 30%;
}

.search-bar-div i {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    color: #1E3A5F; 
}

.search-bar-div input {
    padding: 8px 10px 8px 35px; 
    width: 90%;
    color: rgb(20, 20, 20);
    background-color: #ffffff;
    border: 1px solid #1E3A5F;
    border-radius: 5px;
    outline: none;
}

.search-bar-div input::placeholder {
    color: #949494;
}

.logo-div {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}

.logo-div img {
  width: auto;
  height: 80px;
  margin-right: 5px;
}

.logo-div a{
  text-decoration: none;
}

.logo-div h1 {
  font-family: "Manrope", serif;
  color: #ffff;
  font-size: 35px;
  text-shadow: 2px 2px 2px #171717;
}

.filters-div {
  position: relative; 
  width: 15%;
  margin-right: 50px;
  margin-left: 70px;
}

.filters-div i {
  position: absolute;
  left: 10px; 
  top: 50%;
  transform: translateY(-50%); 
  color: #fff; 
  pointer-events: none; 
}

.filters-div select {
  width: 100%;
  color: #fff;
  padding: 7px 15px 7px 40px;
  font-weight: 500; 
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  appearance: none; 
}

.filters-div:hover i,
.filters-div:hover select {
  cursor: pointer;
  color: #171717;
  background-color: #ffffff; 
}

.user-div{
  color: #fff;
}

.user-div h4{
  margin-top: 5px;
}

.user-div i{
  font-size: 25px;
  margin-right: 15px;
  background-color: #ffff;
  color: #171717;
  padding: 8px;
  border-radius: 30px;
}

.login-register-a{
  color: #fff;
  text-decoration: none;
}

.login-register-a:hover{
  color: #fff;
  text-decoration: underline;
}

nav{
  width: 100%;
  background-color: #1361a0;
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
}

nav a{
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  font-family: "Noto Sans", serif;
}

.logout-button{
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  font-family: "Noto Sans", serif;
  background-color: transparent;
  border: none;
}


nav div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a:hover, 
nav a:hover i,
.logout-button:hover span,
.logout-button:hover i {
  color: #00c8ff;
}


nav i{
  margin-right: 5px;
  color: #fff;
  font-size: 20px;
}


.main-deals-section{
  font-family: "Poppins", serif;
  margin-bottom: 50px;
  flex: 1;
}

.main-deals-section h1{
  font-size: 45px;
}

div.deal-col {
  margin-top: 30px;
  padding: 30px;
  width: 49%;
  margin-left: 5px;
  background-color: #ffffff; 
  border-radius: 20px; 
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); 
}

div.deal-second-row{
  margin-top: 30px;
}

.deal-img {
  border: 5px solid #1b98ff;
  border-radius: 10px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.deal-img-col{
  font-family: "Noto Sans", serif;
}

.shop-col span{
  font-family: "Noto Sans", serif;
  font-size: 19px;
}

.shop-col span:first-of-type{
  margin-bottom: 10px;
}

.shop-col span span{
  color: #1b98ff;
  font-weight: 600;
}

.shop-col a{
  font-family: "Noto Sans", serif;
  font-size: 19px;
  text-decoration: none;
  color: #1b98ff;
  font-weight: 600;
}

.shop-col a:hover{
  text-decoration: underline;
}

.deal-second-row{
  width: 100%;
}

.edit-button{
  margin-right: 40px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: #1E3A5F;
  font-weight: 600;
}

.delete-button{
  margin-right: 40px;
  border: none;
  background-color: transparent;
  color: #1E3A5F;
  font-size: 20px;
  font-weight: 600;
}

.edit-button:hover, 
.delete-button:hover{
  color: #1b98ff;
}

.deal-info-col{
  margin-left: 20px;
  padding-right: 10px;
}

.deal-info-col span{
  font-family: "Noto Sans", serif;
}

.deal-title{
  margin-bottom: 15px;
}

.deal-title h4{
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.deal-title span {
  font-size: 30px;
  margin-left: 20px;
  font-weight: 600;
  color: #1b98ff;
}

.deal-title span span{
  font-size: 22px;
  color: #1E3A5F;
  text-decoration: line-through;
  margin-right: 15px;
}

.deal-rating{
  margin-bottom: 25px;
}

.deal-rating i:first-of-type {
  font-size: 20px;
  color: #1E3A5F;
}

.deal-rating i:not(:first-of-type) {
  font-size: 20px;
  margin-left: 5px;
  color: #1E3A5F;
}

.deal-rating span{
  margin-left: 60px;
  font-size: 20px;
}

.deal-rating span span{
  margin-left: 0;
  font-weight: 600;
  color: #1b98ff;
}

.deal-first-row{
  width: 100%;
}

div.hidden-col {
  display: none !important;
}

footer{
  padding: 35px;
  background-color: #1b98ff;
  box-shadow: 2px 2px 2px #8fcdff;
  font-family: "Noto Sans", serif;
  margin-top: 80px;
}


.footer-col h4{
  font-weight: 600;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 23px;
  letter-spacing: 1px;
}

.footer-col a{
  color: #cf1111;
  text-decoration: none;
  text-shadow: none;
  font-weight: 700;
  margin-left: 4px;
}

.footer-col a:hover{
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer-social-col i{
  font-size: 23px;
  color: #ffff;
  transition: 0.3s;
}

.footer-social-col i:hover{
  color: black;
  transition: 0.3s;
}

.footer-social-col h4{
  font-weight: 600;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 23px;
  margin-bottom: 5px;
}
